
# FRONTEND_URL=https://healthytouch24.com
# BACKEND_URL=https://api.healthytouch24.com
# VITE_FRONTEND_URL=https://healthytouch24.com
# VITE_BACKEND_URL=https://api.healthytouch24.com
# VITE_API_BASE_URL=https://api.healthytouch24.com/api

FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:5001
VITE_FRONTEND_URL=http://localhost:8080
VITE_BACKEND_URL=http://localhost:5001
VITE_API_BASE_URL=http://localhost:5001/api

GOOGLE_MAPS_API_KEY = AIzaSyCLMDUEWm0mSdjcqVaVbGGGgzFEQNdMZLs

# Support contact (used for WhatsApp + phone call widget)
VITE_SUPPORT_PHONE=9887894498
